In [1]:
import pandas as pd
import numpy as np

In [2]:
DATA_PATH = '/home/user/netology/names/'

Задача №1
С использованием Pandas написать функцию, которая загружает указанные года и выводит ТОП-3 популярных имен. Например:
```python
count_top3([1880]) == ['John', 'William', 'Mary']
count_top3([1900, 1950, 2000]) == ['James', 'John', 'Robert']
```

In [3]:
def count_top3_rows(years):
    cols = ['Name','Gender','Count']
    names_array = []
    for year in years:
        names = pd.read_csv('{}yob{}.txt'.format(DATA_PATH, year), names=cols)
        names_array.append(names)
    names_all = pd.concat(names_array, names=['Year', 'Pos'])
    return names_all.groupby('Name').sum().sort_values(by='Count', ascending=False).head(3).reset_index()
    
def count_top3(years):
    top_names = []
    count_top3_rows(years).apply(lambda x: top_names.append(x.Name), axis=1)
    return top_names

In [4]:
count_top3([1880])

['John', 'William', 'Mary']

In [5]:
count_top3([1900, 1950, 2000])

['James', 'John', 'Robert']

Задача №2
С использованием Pandas написать функцию, которая возвращает динамику изменения количества имен за указанные года в разрезе полов. Например:
```python
count_dynamics([1900, 1950, 2000]) == {
  'F': [299810, 1713259, 1814922],
  'M': [150486, 1790871, 1962744]
}
```

In [6]:
def count_dynamics(years):
    cols = ['Name','Gender','Count']
    names_count = {
        'F':[],
        'M':[]
    }
    for year in years:
        names = pd.read_csv('{}yob{}.txt'.format(DATA_PATH, year), names=cols)
        names.groupby('Gender').sum().reset_index().apply(lambda x: names_count[x.Gender].append(x.Count), axis=1)
    return names_count

In [7]:
count_dynamics([1900, 1950, 2000])

{'F': [299800, 1713151, 1815110], 'M': [150483, 1790549, 1962969]}